<%- include("./partials/header") %>

<h1>ASL Vision Web App</h1>
<style>
    #container {
        margin: 25px auto;
        width: 500px;
        height: 375px;
        border: 2px #333 solid;
        visibility: hidden;
    }

    #capture{
        visibility: hidden;
        margin: 25px;
    }

    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
    
    body {
    background-color: #EBFCFB;
    }

    h1 {
    color: black;
    text-align: center;
    font-family: "BankGothic Lt BT", sans-serif
    } 

    p {
    color: black;
    text-align: center;
    font-family: "Cambria", sans-serif
    }
  
</style>

<p>A web app designed to translate images of sign language to words and sentences; a tool for everyone to integrate better with the ASL community.</p>

<div class="text-center"> 
    <button id="CameraButton" class="btn btn-primary mr-6" onclick="hideFunction()">Camera</button> 
    <button id="Upload" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload</button> 
</div>

<script>
function hideFunction() {
    var x = document.getElementById("container");
    var y = document.getElementById("capture")
    if (x.style.visibility === "visible") {
      x.style.visibility = "hidden";
      y.style.visibility = "hidden";
    } else {
      x.style.visibility = "visible";
      y.style.visibility = "visible";
    }
  }
</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">File Upload</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>You can drag and drop your files below or upload a file directly.</p>

            <!-- <div class="container mt-3">
                <form action="/action_page.php">
                  <p>Custom file:</p>
                  <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div> -->

            <form action="/action_page.php">
                <div class="form-group">
                    <input type="file" accept="image/*" class="form-control-file border" id="Upload">
                    <script>
                        const fileInput = document.getElementById('Upload');
                      
                        fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
                      </script>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    <script>

    const target = document.getElementById('target');

    target.addEventListener('drop', (e) => {
        e.stopPropagation();
        e.preventDefault();

        doSomethingWithFiles(e.dataTransfer.files);
    });

    target.addEventListener('dragover', (e) => {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer.dropEffect = 'copy';
    });

    const output = document.getElementById('target');

    function doSomethingWithFiles(fileList) {
        let file = null;

        for (let i = 0; i < fileList.length; i++) {
        if (fileList[i].type.match(/^image\//)) {
            file = fileList[i];
            break;
        }
        }

        if (file !== null) {
        output.src = URL.createObjectURL(file);
        }
    }
    </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div id="container">
	<video autoplay="true" id="videoElement">
	</video>
</div>

<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    }
    function stop(e) {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
        var track = tracks[i];
        track.stop();
        }

        video.srcObject = null;
    }

</script>

<div class="text-center"> 
    <button id="capture" class="btn btn-danger capture">Capture</button> 
</div>


<canvas id="canvas" class="mr-6" width=3000 height=200></canvas>

<script>
    const player = document.getElementById('videoElement');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    const captureButton = document.getElementById('capture');
  
    const constraints = {
      video: true,
    };
  
  var count = 0;
    captureButton.addEventListener('click', () => {
        context.drawImage(player, 0 + 120 * count, 0, 100, 75);
      count++;
    //   $('player').html2canvas({
    //     onrendered: function (canvas) {
    //         //Set hidden field's value to image data (base-64 string)
    //         $('#img_val').val(canvas.toDataURL("image/png"));
    //         //Submit the form manually
    //         document.getElementById("myForm").submit();
    //     }
    // });
    });
    // // Attach the video stream to the video element and autoplay.
    // navigator.mediaDevices.getUserMedia(constraints)
    //   .then((stream) => {
    //     player.srcObject = stream;
    //   });
  </script>

<svg width="400" height="110">
    <rect width="300" height="100" style="fill:transparent;stroke-width:1;stroke:rgb(0,0,0)" />
  </svg>

<%- include("./partials/footer") %>