<%- include("./partials/header") %>

<h1>Hello World!</h1>
<style>
<<<<<<< Updated upstream
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 2px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}</style>
=======
    #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 2px #333 solid;
    }
    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
    body {
    background-color: #EBFCFB;
  }

h1 {
    color: black;
    text-align: center;
    font-family: "BankGothic Lt BT", sans-serif
  } 

p {
    color: black;
    text-align: center;
    font-family: "Cambria", sans-serif
  }
  
  </style>
<p>A web app designed to translate images of sign language to sentences; a tool for everyone to ingrate better with the ASL community.</p>

<div class="text-center"> 
    <button id="CameraButton" name="CameraButton" class="btn btn-primary mr-4">Camera</button> 
    <a href="./upload.php" class="btn btn-primary" role="button">Upload</a>
</div>
>>>>>>> Stashed changes

<div id="container">
	<video autoplay="true" id="videoElement">
	
	</video>
</div>

<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    }
    function stop(e) {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
        var track = tracks[i];
        track.stop();
        }

        video.srcObject = null;
    }

</script>
<form method="POST" action="getdata.php" enctype="multipart/form-data">
    <input type="file" name="myimage">
    <input type="submit" name="submit_image" value="Upload">
   </form>

<%- include("./partials/footer") %>